.nav {
    width: 26rem;
    height: 100%;
    background-color: var(--color-blue);
    background-image: url('/nav_bg.svg');
    background-repeat: no-repeat;
    background-position: center bottom 9rem;
    padding: 3rem 4rem;
}

.nav > ul > li > input {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    margin: -0.1rem;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

.nav > ul > li > label {
    cursor: pointer;
}

.nav > ul > li > label,
.nav ul li a {
    display: flex;
    gap: .8rem;
    align-items: center;
    padding: 1.8rem 0;
    font-size: 1.8rem;
    color: var(--color-white);
    position: relative;
}

.nav > ul > li > label:hover > span,
.nav ul li a:hover > span {
    border-bottom: .1rem solid var(--color-white);
}

.nav ul li > a.is-current {
    font-weight: 700;
}


.nav > ul > li > ul {
    display: none;
    padding-left: 3.2rem;
}

.nav > ul > li > a.is-current ~ ul {
    display: block;
}

.nav ul li a::before {
    content: '';
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.nav ul li a.emo::before {
    background-image: url('../assets/gnb/emo.svg');
}
.nav ul li a.is-current.emo::before {
    background-image: url('../assets/gnb/emo_on.svg');
}
.nav ul li a.stu::before {
    background-image: url('../assets/gnb/stu.svg');
}
.nav ul li a.is-current.stu::before {
    background-image: url('../assets/gnb/stu_on.svg');
}
.nav ul li a.int::before {
    background-image: url('../assets/gnb/int.svg');
}
.nav ul li a.is-current.int::before {
    background-image: url('../assets/gnb/int_on.svg');
}
.nav ul li a.hmt::before {
    background-image: url('../assets/gnb/hmt.svg');
}
.nav ul li a.is-current.hmt::before {
    background-image: url('../assets/gnb/hmt_on.svg');
}
.nav ul li a.tea::before {
    background-image: url('../assets/gnb/tea.svg');
}
.nav ul li a.is-current.tea::before {
    background-image: url('../assets/gnb/tea_on.svg');
}
.nav ul li a.set::before {
    background-image: url('../assets/gnb/set.svg');
}
.nav ul li a.grd::before {
    background-image: url('../assets/gnb/grd.svg');
}
.nav ul li a.is-current.grd::before {
    background-image: url('../assets/gnb/grd_on.svg');
}
.nav ul li a.cls::before {
    background-image: url('../assets/gnb/cls.svg');
}
.nav ul li a.is-current.cls::before {
    background-image: url('../assets/gnb/cls_on.svg');
}