.nav {
    width: 26rem;
    height: 100%;
    background-color: var(--color-blue);
    background-image: url('/nav_bg.svg');
    background-repeat: no-repeat;
    background-position: center bottom 9rem;
    padding: 3rem 4rem;
}

.nav > ul > li > input {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    margin: -0.1rem;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

.nav > ul > li > label {
    cursor: pointer;
}

.nav > ul > li > label,
.nav ul li a {
    display: block;
    padding: 1.8rem 0;
    font-size: 1.8rem;
    color: var(--color-white);
    position: relative;
}

.nav > ul > li > label:hover > span,
.nav ul li a:hover > span {
    border-bottom: .1rem solid var(--color-white);
}

.nav ul li > a.is-current {
    font-weight: 700;
}


.nav > ul > li > ul {
    display: none;
    padding-left: 3.2rem;
}

.nav > ul > li > a.is-current ~ ul {
    display: block;
}