.tabs > ul {
    display: flex;
    flex-direction: row;
    border-radius: 10rem;
    overflow: hidden;
    background-color: var(--color-white);
}

.tabs > ul > li > button {
    padding: 1rem 1.6rem;
    position: relative;
}

.tabs > ul > li > button.is-current::after {
    content: '';
    background-color: var(--color-blue);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10rem;
}

.tabs > ul > li > button.is-current > span {
    z-index: 1;
    position: relative;
    color: var(--color-white);
}

#tabs > .ant-segmented {
    color: #666666;
}

#tabs > .ant-segmented > .ant-segmented-group {
    background: var(--color-white);
    border-radius: 10rem;
    overflow: hidden;
}

#tabs > .ant-segmented > .ant-segmented-group > .ant-segmented-item-selected {
    background-color: var(--color-blue);
    border-radius: 10rem;
    color: var(--color-white);
    font-weight: 700;
}

#tabs > .ant-segmented > .ant-segmented-group > .ant-segmented-item:hover:not(.ant-segmented-item-selected) {
    color: #666666;
}

#tabs > .ant-segmented > .ant-segmented-group > .ant-segmented-item:hover::after {
    background: none;
}

#tabs > .ant-segmented > .ant-segmented-group > .ant-segmented-item > .ant-segmented-item-label {
    line-height: 1.2;
    padding: 1rem 1.6rem;
}

#tabs > .ant-segmented > .ant-segmented-group .ant-segmented-thumb {
    background-color: var(--color-blue);
    border-radius: 10rem;
}

