.content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--header-height));
}

.content > div {
    flex: 1;
    width: calc(100% - var(--nav-width));
    padding: 4rem;
    overflow-y: auto;
}

.tit-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.tit-area h1 {
    font-size: 3.2rem;
    font-weight: 700;
}

.tit-row {
    justify-content: flex-start;
    gap: 1.2rem;
}

.tit-row p {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-blue);
}

/*table*/
.table-wrap {
    border-radius: 1.2rem 1.2rem 0 0;
    margin-bottom: 2.4rem;
    overflow-x: auto;
}

table > thead th {
    background-color: var(--bg-blue);
    color: var(--color-blue);
    padding: 1.8rem 1rem;
    border-right: .1rem solid var(--color-white);
}

table > thead th.emo-content {
    background-color: var(--bg-content);
    color: var(--color-content)
}
table > thead th.emo-happy {
    background-color: var(--bg-happy);
    color: var(--color-happy)
}
table > thead th.emo-sorrow {
    background-color: var(--bg-sorrow);
    color: var(--color-sorrow)
}
table > thead th.emo-anger {
    background-color: var(--bg-anger);
    color: var(--color-anger)
}

table > thead th:last-child {
    border-right: none;
}

table > tbody {
    background-color: var(--color-white);
}

table > tbody td {
    padding: 1.6rem 1rem;
    border-bottom: .1rem solid #EDEDED;
}

/*btn-wrap*/
.btn-wrap {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
}

.btn-wrap > button {
    position: relative;
}
.btn-wrap > button:not(:last-child)::after {
    content: '';
    width: .1rem;
    height: 1.6rem;
    background-color: #EDEDED;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -1.6rem;
}